.movie-page {
    height: 100%;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 150px;
    position: relative;
    @include flex-center(column);

    &-header {
        color: $white;
        background-color: $black;
        font-size: 50px;
        padding: 15px;
        padding-top: 10px;
        margin-bottom: 35px;
        border-radius: 0 0 30px 30px;
        position: sticky;
        top: 115px; //'115px' is "Header Component"s height, look at '_header.scss'
        z-index: 20;
    }

    &-showcase {
        position: relative;
        @include flex-center(row);
        gap: 100px;

        &-banner {
            width: 250px;
            height: 350px;
        }

        &-genre{
            border: 1px #aaa solid;
            position: absolute;
            bottom: -25px;
            right: 0px;
            color: $white;
            background-color: #080712;
            padding: 12px;
            border-radius: 3px;
        }
    }


    &-texts {
        color: $white;
        max-width: 60%;
        margin-top: 55px;
        @include flex-center(column);
        gap: 30px;

        &-item {
            text-align: justify;
            line-height: 25px;
        }
    }

    &-comment-entry{
        margin-top: 50px;
        margin-bottom: 10px;
        width: 50%;
        @include flex-center(row){
            justify-content: space-between;
        }

        &-textbox{
            width: 80%;
            height: 50px;
            background: transparent;
            border: none;
            border-bottom: 1px #fff solid;
            outline: none;
            font-size: 1em;
            padding: 0 35px 0 5px;
            color: #fff;
        }

        &-button{
            margin-top: 10px;
            cursor: pointer;
            border-radius: 5px;
            color: #fff;
            padding: 13px 18px;
            background-color: #000;
            border: 1px #fff solid;
        }
    }

    &-comments{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 50px 50px; 
        margin-top: 80px;
        
        &-item{
            width: 300px;
            // height: 300px;
            padding: 1rem;
            position: relative;
            background: linear-gradient(to right, #ff0000, #ba0dba);
            border-radius: 5px;
            padding: 2px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 14;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &-content {
                border-radius: 5px;
                background: #222;
                color: white;
                padding: 2rem;
                text-align: justify;
                height: 250px;
            }
        }
    }
}
