.movie-page {
    padding-top: 40px;
    background-color: #000;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 90px;
    padding-bottom: 150px;
    position: relative;
    @include flex-center(column);

    &-header {
        color: $white;
        background-color: $black;
        font-size: 50px;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 0 0 30px 30px;
        position: sticky;
        top: calc(0vh + 115px); //'115px' is "Header"s height, look at '_header.scss'
    }

    &-banners {
        @include flex-center(row);
        gap: 100px;

        &-item {
            width: 250px;
            height: 350px;
        }
    }

    &-texts {
        color: $white;
        max-width: 60%;
        margin-top: 55px;
        @include flex-center(column);
        gap: 30px;

        &-item {
            text-align: justify;
            line-height: 25px;
        }
    }

    &-comments {}
}
