.movie-field {
    margin-top: 140px;
    margin-bottom: 150px;
    @include flex-center(row);

    &-cards {
        width: 92vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-items: center;
        row-gap: 150px;
    }
}