.movie-card {
    font-family: 'Roboto', sans-serif;
    width: 225px;
    height: 275px;
    border: 3px solid #555;
    border-top: 1px solid #444;
    border-radius: 7px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    @include flex-center(column){
        justify-content: flex-end;
    }

    &:hover{
        .movie-card-bookmark{
            opacity: 1;
        }

        .movie-card-scores-item{
            width: 65px ;
            transition: width 0.3s ease;
        }

        .movie-card-upstairs-image-first{
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .movie-card-upstairs-image-second{
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        .movie-card-scores-likes-score,
        .movie-card-scores-dislikes-score{
            display: block;
        }
    }
    &:not(:hover){
        .movie-card-scores-item{
            width: 21px;
            transition: width 0.3s ease;
        }

        .movie-card-upstairs-image-first{
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        .movie-card-upstairs-image-second{
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &-bookmark{
        opacity: 0;
        border: 1px #fff solid;
        position: absolute;
        top: -100px;
        right: -10px;
        padding: 11px;
        font-size: 22px;
        z-index: 5;
        color: #fff;
        border-radius: 50%;
        background-color: #050a11;
        transition: opacity 0.4s ease, background-color 0.2s ease;
        @include flex-center();

        &:hover{
            background-color: #101e34;
        }
    }

    &-upstairs{
        position: relative;

        &-time{
            color: #000;
            border-radius: 3px;
            background-color: #112;
            position: absolute;
            bottom: 0;
            left: -108px;
            background-color: #ebc8b2;
            padding: 4px;
        }

        &-image{
            // position: relative;W

            &-item{
                width: 200px;
                height: 270px;
                position: absolute;
                bottom: 0;
                left: -100px;
            }

            &-first{
                opacity: 1;
            }
            
            &-second{
                opacity: 0;
            }
        }
    }

    &-middle-line{
        width: 90%;
        border-top: 1px solid #222;
    }

    &-texts{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-decoration: none;
    }

    &-text{
        color: #fff;
    }

    &-name{
        font-size: 22px;
        // margin-bottom: 10px;
        margin-top: 5px;
    }

    &-year{
        margin: 10px 0;
        // margin-bottom: 10px;
    }

    &-imdb{
        background-color: $black;
        z-index: 5;
        border-radius: 5px;
        padding-right: 7px;
        position: absolute;
        bottom: -20px;
        left: -15px;
        @include flex-center(column);

        &-image{
            width: 40px;
            // margin-right: 5px;
        }

        &-score{
            // color: #fff;
            color: #f8c57a;
        }
    }

    &-scores{
        position: absolute;
        bottom: -22px;
        right: 5px;
        @include flex-center(row);

        &-item{
            max-width: 70%;
            cursor: pointer;
            border-radius: 5px;
            color: #000;
            background-color: #debda8;
            padding: 5px;    
            border: 1px solid #aaa;
            @include flex-center(row){
                justify-content: space-between;
            }

            &:hover{
                background-color: #fae6cf;
            }

            &-icon{
                margin-right: 5px;
            }

            &-score{
                display: none;
                margin-right: 2px;
            }
        }

        &-likes{
            margin-right: 2px;

            // &-icon{}

            // &-score{}
        }
        
        // &-dislikes{

        //     &-icon{}

        //     &-score{}
        // }
    }
}