.offers {
    // @include flex-center();

    &-header{
        padding: 35px;
        font-size: 45px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        @include flex-center(row);
    }

    &-movie {
        padding: 15px;
        border-radius: 15px;
        
        @include flex-center(column);
        
        &-data{
            border: 1px #fff solid;
            padding: 10px;
            border-radius: 15px;
            position: relative;
            margin-bottom: 25px;
            // height: 300px;

            &-item{
                margin-bottom: 14px;
                color: #fff;

                &-title{
                    margin-bottom: 5px;
                    font-size: 22px;
                    text-decoration: underline;
                }

                &-content{
                    font-size: 17px;
                }
            }

            &-buttons{
                position: absolute;
                top: 15px;
                right: 15px;
                @include flex-center(column);
                gap: 15px;
                
                &-item{
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px #fff solid;
                    font-size: 20px;
                    padding: 5px;
                    @include flex-center(row);
                }
            }
        }
    }

    &-no-offer{
        color: #fff;
        font-size: 20px;
        @include flex-center(row    );
    }
}
