.header{
    width: 100vw;
    height: 115px;
    background-color: $black;
    font-family: 'Roboto', sans-serif;
    border-bottom: 3px solid #555;
    z-index: 10;
    position: sticky;
    top: 0;
    @include flex-center(row){
      justify-content: space-around;
    };

    &-logo{
        font-size: 35px;
        cursor: pointer;
        @include flex-center(row);

        &-text{
            color: #fff;
        }

        &-image{
            color: #ddd;
            width: 40px;
            height: 40px;
            margin-right: 25px;
        }
    }
}
