.navigation{
    width: 400px;
    @include flex-center(row){
      justify-content: space-evenly; 
    }

    &-item{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }

}
