@mixin flex-center($direction:row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  @content
};

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

::placeholder{
  color: #999;
}