@mixin onDarkMode{
    // @if($themeMode == "dark"){
        @content
    // }
};

@mixin onLightMode{
    // @if($themeMode == "light"){
        @content
    // }   
};

@mixin flex-center($direction:row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    @content
};